  <!DOCTYPE html>
  <html ng-app="app">
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <script type="text/javascript" src="js/angular.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    </head>
    <style type="text/css">
    .card-content span{color:#000;}
    </style>
    <body>

 <nav class="red lighten-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">LEVANTHUAN</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/logout">Log Out</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <div class="container">
    <section ng-controller="appCtrl">
      <div class="row">
        <div class="col s12">
          <div class="divider"></div>
          <h5 class="red-text text-lighten-3">Hi <%=data[0].FirstName%></h5>
         <h4>My Boards</h4>
        </div>
      </div>
      <div class="row">
            <div class="col s4" ng-repeat="x in names">
              <a href="tasks/{{ x.CatalogueCode }}" title="">
              <div class="card red lighten-3">
                  <div class="card-content white-text">
                 {{ x.CatalogueName }}
                  </div>
              </div>
              </a>
           </div>
      
       <!-- Modal Structure -->
  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <form ng-submit="helloWorld()" >
        <button class="btn waves-effect waves-light red lighten-3" type="submit" name="action">Submit
        <i class="mdi-content-send right"></i>
        </button>
      <div class="row">
        <div class="input-field col s6">
          <input value="" id="first_name2" type="text" ng-model='dataInsert' class="validate">
          <label class="active" for="first_name2">Title</label>
        </div>
      </div>
  </form>
    </div>
  </div>
         
      </div>
       <!-- fixed button -->
         <div class="fixed-action-btn" style="bottom: 45px; right: 34px;">
          <a class="btn-floating btn-large red lighten-3 modal-trigger" data-target="modal1">
            <i class="large mdi-editor-mode-edit"></i>
          </a>
        </div>
        <!-- fixed button -->
    </section>
  </div>

      <!-- angular js -->
      <script type="text/javascript">
      /* angularjs code by thuan */
      var app = angular.module('app', []);
      app.controller("appCtrl", function($scope,$http){
      $http.get("/getDataCatalogues").success(function(data){
      console.log(data);
      $scope.names=data;
     });
      $scope.helloWorld = function(){
             $http.post('/insertDataCatalogues',{title:$scope.dataInsert}).success(function(data){
              console.log(data);
              $scope.dataInsert="";
              $scope.names=data;
              $('#modal1').closeModal();
             });
          }
        $scope.openTask=function(){
          $http.get()
        }
      });
      
      /* angularjs code by thuan */
      </script>
      <!-- angular js -->
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/script.js"></script>
    </body>
  </html>
