<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>To Do List</title>

  <!-- CSS  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="red lighten-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">LEVANTHUAN</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Log In</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login">Log In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text text-lighten-3">To Do List</h1>
      <div class="row center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light red lighten-3">Sign Up -It's free</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <footer class="page-footer red lighten-3">
    <div class="footer-copyright">
      <div class="container">
      Made by LEVANTHUAN
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
