<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>To Do List</title>

  <!-- CSS  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="js/angular.js"></script>
</head>
<body >
  <nav class="red lighten-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">LEVANTHUAN</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Log In</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login">Log In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
<div class="section">
	<div class="row">
    
    <form class="col s6 offset-s2"  action="/addUser" ng-controller="validateCtrl" name="myForm">
      <% if(error!=null){ %>
     <p style="color:red"><%=error %></p> 
      <% } %>
      <span style="color:red" ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid">
        <span ng-show="myForm.firstName.$error.required">firstName is required.</span>
        <br>
      </span>
      <span style="color:red" ng-show="myForm.lastName.$dirty && myForm.lastName.$invalid">
         <span ng-show="myForm.lastName.$error.required">lastName is required.</span>
         <br>
      </span>
       <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
          <span ng-show="myForm.password.$error.required">password is required.</span>
          <br>
      </span>
       <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
         <span ng-show="myForm.email.$error.required">email is required.</span>
         <br>
      </span>
      <div class="row">
        <div class="input-field col s6">
          <input  id="firstName" type="text" class="validate" name="firstName"  ng-model="firstName" required>
          <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="lastName" ng-model="lastName" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
     <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" ng-model="email" required>
          <label for="email">email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" ng-model="password" required>
          <label for="password">Password</label>
        </div>
      </div>
     <div class="row">
        <div class="input-field col s6">
        <button class="btn waves-effect waves-light red lighten-3" type="submit" ng-disabled="myForm.firstName.$dirty && myForm.firstName.$invalid || myForm.lastName.$dirty && myForm.lastName.$invalid || myForm.email.$dirty && myForm.email.$invalid || myForm.password.$dirty && myForm.password.$invalid">Create new account
        <i class="mdi-content-send right"></i>
        </button>
        </div>
      </div>
    </form>
  </div>
</div>

  <footer class="page-footer red lighten-3">
    <div class="footer-copyright">
      <div class="container">
      Made by LEVANTHUAN
      </div>
    </div>
  </footer>
<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    
});
</script>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
