  <!DOCTYPE html>
  <html ng-app="app">
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      <script type="text/javascript" src="../js/angular.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    </head>
    <style type="text/css">
    .card-content span{color:#000;}
    </style>
    <body>

 <nav class="blue-grey darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">LEVANTHUAN</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/logout">Log Out</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <div class="container">
   <section class="section" ng-controller="catalogueCodeCtr">
     <div class="row">
        <div class="col s12">
          <div class="divider"></div>
          <h5 class="blue-grey-text text-darken-1">Hi <%=data[0].FirstName%></h5>
         <h4>My Tasks</h4>
        </div>
      </div>
       <div class="row">
        <div class="col s12 m4" ng-repeat="x in names">
          <div class="card blue-grey darken-1">
           <a class="waves-effect waves-light btn"  ng-click="editTask(x.TaskCode,x.TaskName,x.Content)">Edit</a>
          <a class="waves-effect waves-light btn"  ng-click="removeTask(x.TaskCode)">Delete</a>
            <div class="card-content white-text">
              <span class="card-title">{{ x.TaskName }}</span>
              <p>{{ x.Content }}</p>
            </div>
          </div>
        </div>
      </div>
  <!-- Modal Structure 1 -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
        <div class="col m6">
           <form ng-submit="insertData()" >
              <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action">Submit
              <i class="mdi-content-send right"></i>
              </button>
            <div class="row">
              <div class="input-field">
                <input value="" id="title" type="text" ng-model='dataTitle' class="validate">
                <label class="active" for="first_name2">Title</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                 <textarea id="textarea1" ng-model='dataContent' class="materialize-textarea"></textarea>
                <label for="textarea1">Content</label>
              </div>
            </div>
          </form>
        </div>
        <div class="col m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span>Preview</span>
              <br>
              <span class="card-title">{{ dataTitle }}</span>
              <p>{{ dataContent }}</p>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <!-- Modal Structure 1 -->
  <!-- Modal Structure 2 -->
  <div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
        <div class="col m6">
           <form ng-submit="editData()" >
            <input type="hidden" ng-model="dataIDEdit" >
              <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action">Edit
              <i class="mdi-content-send right"></i>
              </button>
            <div class="row">
              <div class="input-field">
                <input value="" id="title" type="text" ng-model='dataTitleEdit' class="validate">
                <label class="active" for="first_name2">Title</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                 <textarea id="textarea1" ng-model='dataContentEdit' class="materialize-textarea"></textarea>
                <label for="textarea1">Content</label>
              </div>
            </div>
          </form>
        </div>
        <div class="col m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span>Preview</span>
              <br>
              <span class="card-title">{{ dataTitleEdit }}</span>
              <p>{{ dataContentEdit }}</p>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <!-- Modal Structure 1 -->
  <!-- dataCatalogueCode -->

      <input type="hidden" ng-model="CatalogueCode">
      <input type="hidden" ng-model="dataIDDelete">
        <!-- dataCatalogueCode -->
        <!-- fixed button -->
         <div class="fixed-action-btn" style="bottom: 45px; right: 34px;">
          <a class="btn-floating btn-large blue-grey darken-1 modal-trigger" data-target="modal1">
            <i class="large mdi-editor-mode-edit"></i>
          </a>
        </div>
        <!-- fixed button -->
         </section>
  </div>

  


     <!-- angular js -->
     <script type="text/javascript">
     var app=angular.module('app',[]);
     app.controller("catalogueCodeCtr",function($scope,$http)
     {
      $scope.CatalogueCode=<%=CatalogueCode %>;
      $http.post("/getDataTasks",{catalogueCode:$scope.CatalogueCode}).success(function(data){
        $scope.names=data;
      });
      $scope.insertData=function()
      {
        $http.post("/insertDataTasks",{taskName:$scope.dataTitle,content:$scope.dataContent,catalogueCode:$scope.CatalogueCode}).success(function(data){
          $scope.names=data;
          $scope.dataTitle="";
          $scope.dataContent="";
          $('#modal1').closeModal();
          console.log(data);
        });  
      }
      $scope.editTask=function(taskID,taskName,content)
      {
        console.log(taskID + taskName + content);
        $('#modal2').openModal();
        $scope.dataTitleEdit=taskName;
        $scope.dataContentEdit=content;
        $scope.dataIDEdit=taskID;
      };
       $scope.editData=function()
      {
        $http.post("/editDataTasks",{taskID:$scope.dataIDEdit,taskName:$scope.dataTitleEdit,content:$scope.dataContentEdit,catalogueCode:$scope.CatalogueCode}).success(function(data){
          $scope.names=data;
          $scope.dataTitleEdit="";
          $scope.dataContentEdit="";
          $('#modal2').closeModal();
          console.log(data);
        });  
      };
      $scope.removeTask=function(taskID)
      {
        if (confirm("Are you sure ?")) {
        $scope.dataIDDelete=taskID;
         $http.post("/deleteDataTasks",{taskID:$scope.dataIDDelete,catalogueCode:$scope.CatalogueCode}).success(function(data){
          $scope.names=data;
          console.log(data);
        }); 
        }
      }
     });
     </script>
     <!-- angular js -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>
      <script type="text/javascript" src="../js/script.js"></script>
    </body>
  </html>
